

<div class="navbar">
    <div class="logo">
        <img src="/images/Golden pass logo.png" alt="">
    </div>

    <div class="ham">
        <img id="open" src="/images/hamburger-svgrepo-com (1).png" alt="hamburger icon">
        <img id="closee" src="/images/close-circle-svgrepo-com.png" alt="close icon">
    </div>
    
    <div class="navlinks">
        <ul>
            <li><a href="/" target="">Home</a></li>
            <li><a href="/events">Events</a></li>
            <li><a href="/contact">Contact Us</a></li>
            <li><a href="/about">About Us</a></li>
        </ul>

        <% if (!isAuthenticated) { %>
            <div class="two-btn" id="auth-buttons">
                <button class="signupb">Sign Up</button>
                <!-- <button class="loginb">Log In</button> -->
            </div>
        <% } else { %>
            <!-- You can replace this with a "Profile" or "Logout" button if needed -->
            <div class="two-btn">
                <form action="/CS/verify/logout" method="post">
                    <button class="logoutb">Logout</button>
                </form>
            </div>
            
            
        <% } %>
    </div>
</div>



<script src="/server.js"></script>



