<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Golden Pass</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="icon" href="/images/Golden pass logo.png" style="width: 100%;">
    <link rel="stylesheet" href="/css/all.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    

    
    <div class="navbar">
        <div class="logo">
            <img src="/images/Golden pass logo.png" alt="">
        </div>
    
        <div class="ham">
            <img id="open" src="/images/hamburger-svgrepo-com (1).png" alt="hamburger icon">
            <img id="closee" src="/images/close-circle-svgrepo-com.png" alt="close icon">
        </div>
        
        <div class="navlinks">
            <ul>
                <li><a href="/" target="">Home</a></li>
                <li><a href="/events">Events</a></li>
                <li><a href="/contact">Contact Us</a></li>
                <li><a href="/about">About Us</a></li>
            </ul>
    
            <% if (!isAuthenticated) { %>
                <div class="two-btn" id="auth-buttons">
                    <button class="signupb">Sign Up</button>
                    <!-- <button class="loginb">Log In</button> -->
                </div>
            <% } else { %>
                <!-- You can replace this with a "Profile" or "Logout" button if needed -->
                <div class="two-btn">
                    <form action="/CS/verify/logout" method="post">
                        <button class="logoutb">Logout</button>
                    </form>
                </div>
                
                
            <% } %>
        </div>
    </div>

    <div class="evert">
    <div class="hero">

        <div class="text">
            
        <h4 class="h4">Golden Pass</h4>
        <p>Get Your Key To Any Event</p>
        </div>


        <div class="slideshow">

        </div>
    </div>


    <div class="UpcomE">

        <p class="headdt">Upcoming Events</p>

        <img class="img1" src="/images/UPCOMING EVENTS.png" alt="">

        <p class="boddyt">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore id ad, eius assumenda molestias impedit, error, hic voluptates vitae animi corrupti cumque incidunt natus ducimus facere laborum veniam eos! Magnam!</p>

        <button>See More</button>

        <img class="img2" src="/images/UPCOMING EVENTS.png" alt="">
    </div>



    <div class="toposts">
        <p class="headdt">Top Posts</p>

        <div class="twop">

            <div class="d1">
                <img src="/images/pro.jpeg" alt="" class="proimg">
                <p class="proname">Jude Mark</p>
                <div class="stars"></div>

                <div class="info">
                    <img src="/images/001 1.jpg" alt="" class="infoi">

                    <p class="lheaddt">Davido 02 Arena Experience</p>

                    <p class="lboddyt">
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corporis, quam. Molestiae cupiditate inventore quaerat obcaecati asperiores nulla, modi assumenda sequi illum eaque fugit ullam. Magni facilis et quas porro quos.
                    </p>

                    <div class="btns">
                        <button>Regular: $50</button>
                        <button>Vip: $100</button>
                        <button>Premuim: $200</button>
                    </div>
                </div>
            </div>



            <div class="d2">

                <img class="dimg" src="/images/burna 1.jpg" alt="">

                <p class="lheadt">Rema Abuja Experience </p>

                <ul>
                    <li>Days</li>
                    <li>Hours</li>
                    <li>Minutes</li>
                    <li>Seconds</li>
                </ul>

                <button>Get Ticket</button>
            </div>

            <button class="go">See More</button>
        </div>
    </div>




    <div class="contact">

        <img src="/images/costomer-removebg-preview.png" alt="">

        <div class="conmove">
                <p class="headdt">Contact Us</p>

                <form action="">

                    <input type="text" name="first-name" id="fn" placeholder="First Name">
                    <input type="text" name="last-name" id="ln" placeholder="Last Name"> <br>

                    <input type="email" name="email" id="em" placeholder="Enter Email"> <br>

                    
                    <textarea name="contact-content" id="con" placeholder="Enter Message here"></textarea>

                    <!-- <input type="button" value="Submit"> -->
                     <button>Submit</button>
                </form>
        </div>
       
        
    </div>


</div>



<div class="footer">

    <div class="foot">
    <div class="logo">
        <img src="/images/Golden pass logo.png" alt="">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga, velit similique! Tempore hic mollitia, repellat magni, laudantium modi facilis reprehenderit voluptate, delectus ipsa nemo? Recusandae ex ea aliquam a eius?</p>
    </div>

    <div class="Quick-Links">

        <p>Quick Links</p>
        <ul>
             <li><a href="/">Home</a></li>
        <li><a href="/events">Events</a></li>
        <li><a href="/contact">Contact Us</a></li>
        <li><a href="/about">About Us</a></li>
        </ul>
       
    </div>

    <div class="services">
        <p>Services</p>
        <ul>
        <li><a href="/events">Get Tickets</a></li>
        <li><a href="/contact">Top Tickets</a></li>
        <li><a href="/about">Shceduled Events</a></li> 
        </ul>
        
    </div>

    <div class="support">

        <p class="suportheadp">Help & Support</p>
    
        <ul>
            <li><a href="tel:07081355583">07081355583</a></li>
            <li><a href="mailto:obhiosad@gmail.com">obhiosad@gmail.com</a></li>
            <li><a href="/Terms">Terms and condition</a></li>
        </ul>
    </div>

</div>
    <br>

    <hr>

    <div class="social-links">
        <a href="" target="_blank"><i class="fa-brands fa-facebook"></i></a>
        <i class="fa-brands fa-x-twitter"></i>
        <i class="fa-brands fa-threads"></i>
        <i class="fa-brands fa-instagram"></i>
        <i class="fa-brands fa-tiktok"></i>
    </div>

    <div class="last">
        <p>&copy; Copyright 2024, All Right Reserved <a href="">Destty Nelly</a></p>
    </div>
</div>

<script src="/js/general.js"></script>

   

    <script src="/server.js"></script>
    


</body>
</html>